# ignore folders
.vscode/
.idea/

ch64spaAtt/

checkpoints/
only_mam_quard/
only_vit/
output_train/
test_results/
test_results_benchmark/
wdecay001spaAtt/
gradcam_outputs/
test_results_gemini0314/
cam_analysis/
test_result_crack500/

log/

# ignore pycache
__pycache__


# ignore files
*.pth
*.md
